html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*END OF RESET CSS*/

li {

}

ul {
  padding-top: 23px;
}

h1 {
  display: block;
  position: relative;
  padding-top: 20px;
  width: 100px;
}

.flex_conteiner {
  display: flex;
  justify-content: space-around;
}

.principal_header {
  width: auto;
  height: 179px;
  background-color: #D33A2C;
}

.principal_header nav ul li {
  list-style: none;
  margin-left: -135px;
}

.nav_icon {
  width: 60px;
  height: 60px;
  background-color: white;
}

.main_header {
  position: relative;
  left: 0;
  right: 0;
  background-color: blue;
  height: 80px;
}

.center {

}

.box1 {
  width: 100%;
  height: 20px;
  background-color: red;
}

.box2 {
  width: 100%;
  height: 20px;
  background-color: green;
}

.box3 {
  width: 100%;
  height: 20px;
  background-color: blue;
}

.box4 {
  width: 100%;
  height: 20px;
  background-color: yellow;
}

.latest_articles {
  display: grid;
  grid-template-columns: 1 1;
}


.articles { 
  background-image: url(../img/articles.png); 
  transition: background 0.5s;
}

.articles:hover { background-image: url(../img/articles_hover.png); }

.books { 
  background-image: url(../img/books.png); 
  transition: background 0.5s;
}

.events {
  background-image: url(../img/events.png); 
  transition: background 0.5s;
}

.jobs { 
  background-image: url(../img/jobs.png); 
  transition: background 0.5s;
}

.membership { 
  background-image: url(../img/membership.png); 
  transition: background 0.5s;
}
